/* CSS Document */

*{
  box-sizing: border-box;
}

li{
  list-style: none;
}

html{
  scroll-behavior: smooth;    
}

body{
width: 100%;
height: 100%;
scroll-snap-type: y mandatory;        
}

.wf-hannari { 
  font-family: "Hannari"; 
}

.wf-tit { 
  font-family: 'Pompiere', cursive;
}
/*header*/

header{
    scroll-snap-align: center;            
  height: 100vh;
}

/*header::before{
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../img/header_img.jpg) no-repeat;
  background-size: cover;
  z-index: -1;
}*/

.img-anim{
    position: relative;
    display: block;
    width: 350px;
    margin: 20px auto;
    text-align: center;
}

.img-eye{
    position: absolute;
    top: 40%;
    display: block;
    width: 82px;
    height: 50px;
    transform-origin: top;
    overflow-y: hidden;
}

.img-eye img{
    width: 40px;
    height: 30px;
    margin: 10px auto 0;
    overflow: hidden;
    animation: eye_anim 5s ease 0s infinite alternate;
}


.img-eye.right{
    right: 19%;
}

.img-eye.right::before{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 81px;
    height: 31px;
    background: url(../img/eyelid_r.png);
}

.img-eye.left{
    left: 19%;
}

.img-eye.left::before{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 81px;
    height: 28px;
    background: url(../img/eyelid_l.png);    
}

.img-eye::before{
    animation: eyelid_anim 5s ease 0s infinite alternate;    
}

.img-hair{
    position: absolute;
    width: 62px;
    bottom: 0;
    z-index: -1;
    animation: hair_anim 10s ease 0s infinite alternate;    
    transform-origin: top;
}

.img-hair.right{
    right: 5%;
}

.img-hair.left{
    left: 5%;
}

    @keyframes eye_anim{
      0%{
        transform: translateY(0);          
        height:30px;
      }
      30%{
        transform: translateY(0);          
        height:30px;
      }
      50%{
        transform: translateY(10px);          
        height: 10px;
      }
      75%{
        transform: translateY(0);          
        height: 30px;
      }
      100%{
        transform: translateY(10px);                    
        height: 10px;
      }
    }
    @keyframes eyelid_anim{
      0%{
        transform: translateY(0);
      }
      30%{
        transform: translateY(0);
      }
      50%{
        transform: translateY(10px);        
      }
      75%{
        transform: translateY(0px);        
      }
      100%{
        transform: translateY(10px);        
      }
    }
    @keyframes hair_anim{
      0%{
        transform: rotate(0);
      }
      50%{
        transform: rotate(20deg);        
      }
      80%{
        transform: rotate(-10deg);        
      }
      100%{
        transform: translateY(0);        
      }
    }


.main_menu{
  display: inline-block;
  /*background: rgba(255,255,255,.8);*/
  margin: auto;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 2em;
}

.main_menu h1{
  margin: 1em 0;
  font-size: 2em;
}

.main_menu h1 span{
    display: block;
    font-size: .5em;
}

.main_menu ul{
  margin-top: 3em;
}

.main_menu ul li{
  display: inline-block;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  margin:0 1em;
}

.main_menu ul li a{
  color: #666;
  text-decoration: none;
}


/*main*/

main {
    scroll-snap-align: center;        
  position: relative;
}

main p{
  line-height: 1.8em;
}


main div{
  background:rgba(255,255,255,.8);  
  width: 90%;
  margin: 20px auto;
  padding: 1em 0;
}

main h2{
  display: block;
  text-align: center;
  font-weight: normal;
  color: #666;
  font-size: 2em;
  margin-top: 1em;
}


#menu1 img{
    display: block;
    width: 100%;
    max-width: 180px;
    height: auto;
    margin: 0 auto 20px;
}

#menu1 p{
    text-align: center;
}

ul.skill{
    display: flex;
    flex-wrap: wrap;
}

ul.skill li{
    position: relative;    
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 50px;
    color: #666;
    margin:10px;
    overflow: hidden;
}

ul.skill li::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

ul.skill li.ps::after{
    width: 90%;
    background-color: #6495ed;
}

ul.skill li.ai::after{
    width: 90%;
    background-color: #ff7f50;
}

ul.skill li.dw::after{
    width: 80%;
    background-color: #3cb371;
}

ul.skill li.ht::after{
    width: 80%;
    background-color: #ffdb4f;
}

ul.skill li.cs::after{
    width: 70%;
    background-color: #eebbcb;
}

ul.skill li.js::after{
    width: 60%;
    background-color: #2ca9e1;
}

ul.skill li.wp::after{
    width: 60%;
    background-color: #7ebeab;
}


#menu2 ul{
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
    -ms-grid-rows: auto 200px auto 200px auto 200px auto;
  grid-template-columns:repeat(auto-fit,200px);
  grid-column-gap: .5%;
  padding: 2em 0;
  width: 90%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menu2 ul:last-child{
  border: none;
}

#menu2 ul li img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
    font-family: "  object-fit: cover;";
    transition: .5s ease-in all;
}

#menu2 ul li a{
    display: block;
    position: relative;
    overflow: hidden;
}


#menu2 ul.cat1 li a:hover img{
    transform: rotateY(360deg);
    background: rgba(10,10,10,0);    
}

#menu2 ul.cat2 li a:hover img{
    opacity: .5;
}

#menu2 ul.cat3 li a:hover img{
    border-radius: 200px;
}

h3{
    position: relative;
    display: inline-block;
    padding: 0 55px;
    margin: 2em auto 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight:normal;
}

h3::before,h3::after{
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}

h3:before {
  left:0;
}

h3:after {
  right: 0;
}


.caption{
    margin-top: 0px;
  border-bottom: 1px #ccc solid;    
}

.caption p{
    display: inline-block;
    margin: .5em;
}

.caption p::before{
    content: "＊";
    color: #ccc;
    margin-right: .3em;
}

#menu3 {
    text-align: center;
}

#menu3 a{
    display: inline-block;
    width: 30%;
    min-width: 150px;
    background: #333;
    padding: 10px 15px;
    border-radius: 50px;
    color: #aaa;
    margin:10px;   
    color: #fff;
    text-decoration: none;
    transition: .3s all;
}

#menu3 a:hover{
    background: #fff;
    color: #333;
    border: 1px solid #333;
    padding: 9px 15px;
}

footer{
  width: 100%;
  height: 60px;
  text-align: center;
  background: rgba(0,0,0,.5);
}

footer a{
    display: block;
  color: #fff;
  line-height: 60px;
  text-decoration: none;
}
@media only screen and (max-width: 640px) {
    body{
        overflow-x: hidden;
    }
    
    #menu2 ul{
  grid-template-columns:repeat(auto-fit,150px);
    }
    
    #menu2 ul li img {
        width: 100%;
    }
}
